// :root{
//     --primary-color:#000;
//     --accent-color:#333;
//     --text-color:#757575;
// }
@import './unerscore.ressets.scss';
$p:#000;
$red:red;
$text-color:#616161;
$color:#ffff;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);
$mobile:800px;

@function weight($weight-name) {
    @return map-get($font-weights,$weight-name);
}

@mixin flexcenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    
}

@mixin theme($light-theme:true){
    @if $light-theme{
        background: $color;
        color: darken($text-color,100%);
    }
}
@mixin mobile{
    @media(max-width:$mobile){
        @content;
    }
}

body{
    background-color:$text-color;
    font-weight: map-get($font-weights,bold);
    color: $color;
}
.main{
    width: 80%;
    margin: 0 auto;
    @include flexcenter(row);
    width: 80%;
    margin: 0 auto;
    #{&}_paragraph1{
        color:$p;
        &:hover{
            color: pink;
        }
    }

    #{&}_paragraph2{
        @extend .main_paragraph1;
        &:hover{
            color: $red;
            cursor: text;
        }
    }
    @include mobile{
        flex-direction: column;
    }
}
.light{
    @include theme($light-theme:false);

}