*{
    margin: 0;
    padding: 0;
}
.box-1{
    width: 200px;
    height: 200px;
    background-color: red;
    order:3;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}
.box-2{
    width: 200px;
    height: 200px;
    background-color: green;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    order: 2;
}
.box-3{
    width: 200px;
    height: 200px;
    background-color: blue;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    order: 1;
}
.container{
    height: 900px;
    border: 2px solid black;
    display: flex;

    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */


    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */


    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* align-content: flex-start; */
    /* align-content: flex-end; */


    


}
