*{
    padding: 0;
    margin: 0;
}
.menu{
    background-color: red;
    list-style: none;
    overflow: hidden;
}
.menu li{
    float: left;
}
.menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 24px;
}
.active{
    background-color: blue;
}
.menu li a:not(.active):hover{
    background-color: green;
}
