/* ! Define variables for the root element */
:root{
    --main-bg-color:#f4f4f4;
    --main-text-color:#333;
    --container-width:90%;
    --header-bg-color:#333;
    --header-txt-color:#fff;

}

*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.container{
    width: var(--container-width);
    margin: 20px auto;
}
header#main-header{
    background-color:var(--header-bg-color);
    color: var(--header-txt-color);

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

/* ! Define box vars */
.box{
    --box-bg-color:#ddd;
    --box-main-color:#06c;
    --box-padding:5px 10px;
}

.box{
    background-color: var(--box-bg-color);
    border: 1px solid var(--box-main-color);
    padding: var(--box-padding);
}

.box h1{
    color: var(--box-main-color);
}