*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.box div{
    width: 200px;
    height: 200px;
    background-color: lawngreen;
    margin-top: 50px;
    transition-duration: 3.4s !important;
}